<mat-toolbar color="primary">
	<button *ngIf="isLoggedIn()" mat-icon-button (click)="sidenav.toggle()">
		<mat-icon>menu</mat-icon>
	</button>
	<span>Project Tracking</span>
</mat-toolbar>

<mat-sidenav-container>
	<mat-sidenav #sidenav mode="over" opened="false">
		<mat-toolbar-row>
			<mat-list>
				<mat-list-item>
					<button mat-button routerLink="/tasks/new" (click)="sidenav.close()">
						<mat-icon>add_circle-outline</mat-icon>
						<span>Create Task</span>
					</button>
				</mat-list-item>
				<mat-list-item (click)="sidenav.close()">
					<button mat-button routerLink="/teams/board">
						<mat-icon>groups</mat-icon>
						<span>Teams</span>
					</button>
				</mat-list-item>
			</mat-list>
		</mat-toolbar-row>

		<mat-toolbar-row>
			<app-user-menu (loggedOut)="sidenav.close()"></app-user-menu>
		</mat-toolbar-row>
	</mat-sidenav>

	<mat-sidenav-content>
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>