<div *ngIf="task" class="form-container">
  <mat-form-field class="input-row">
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="task.title">
  </mat-form-field>

  <mat-form-field class="input-row">
    <mat-label>Description</mat-label>
    <textarea matInput [(ngModel)]="task.description"></textarea>
  </mat-form-field>

  <mat-form-field class="input-row">
    <mat-label>Story Points</mat-label>
    <input matInput [(ngModel)]="task.storyPoints">
  </mat-form-field>

  <mat-form-field class="input-row">
    <mat-label>Priority</mat-label>
    <mat-select [(ngModel)]="task.priority">
      <mat-option *ngFor="let priority of priorities" [value]="priority">{{priority}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="input-row">
    <mat-label>Status</mat-label>
    <mat-select [(ngModel)]="task.status">
      <mat-option *ngFor="let status of statuses" [value]="status">{{ status }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="input-row">
    <mat-label>Assignee</mat-label>
    <mat-select [(ngModel)]="task.userIdAssigned">
      <mat-option *ngFor="let status of statuses" [value]="status">{{ status }}</mat-option>
    </mat-select>
  </mat-form-field>

  <div>
    <button mat-raised-button color="primary" (click)="save()">Save</button>
    <button mat-raised-button (click)="goBack()">Go Back</button>
  </div>
</div>